In [1]:
import pandas as pd
import numpy as np
import re
from scipy.spatial.distance import cosine

In [2]:

with open('sentences.txt', 'r') as f:
    text = f.read();  
source_text = text.split('.\n')
source_text = [elem.lower() for elem in source_text]

In [3]:
all_word = []
sentences = []
for sentence in source_text:
    words_source = re.split('[^a-z]', sentence)
    words = [word for word in words_source if word != '']
    all_word.extend(words)
    sentences.append(words)

In [4]:
words = []
for sentence in sentences:
    list1 = []
    for word in all_word:
        list1.append(sentence.count(word))
    words.append(list1)

In [5]:
df = pd.DataFrame(data=words, columns=all_word)
df.head()

,in,comparison,to,dogs,cats,have,not,undergone,major,changes,...,a,mountain,of,features,more,than,by,apple,s,count
0,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1,0,0,1,0,0,0,0,0,0,0,...,0,0,2,0,0,0,0,0,0,0
2,0,0,2,0,0,0,0,0,0,0,...,3,0,2,0,0,0,0,0,0,0
3,1,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,2,0,0,0,1,0,0,0,0,0,...,1,0,2,0,0,0,0,0,0,0

In [6]:
base = df.iloc[[0]]

In [7]:
df['cosine'] = df.apply(lambda x: cosine(base, x), axis=1)
df.head()

,in,comparison,to,dogs,cats,have,not,undergone,major,changes,...,mountain,of,features,more,than,by,apple,s,count,cosine
0,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0.000000
1,0,0,1,0,0,0,0,0,0,0,...,0,2,0,0,0,0,0,0,0,0.861420
2,0,0,2,0,0,0,0,0,0,0,...,0,2,0,0,0,0,0,0,0,0.667100
3,1,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0.780313
4,2,0,0,0,1,0,0,0,0,0,...,0,2,0,0,0,0,0,0,0,0.721113

In [24]:
with open('submission-1.txt', 'w') as file:
    file.write(f'{" ".join(map(str,list(df.sort_values(by=["cosine"])[1:3].index)))}\n')